<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />

<title>Usuario</title>
</head>
<body th:fragment="content">

	<div class="container text-center p-4">
		<form class="mt-4 text-center border p-4 form validate-form;"
			action="/usuarios/guardar" method="post">
			<h5 class="contact100-form-title">
				AGREGAR USUARIO <i style='font-size: 30px'
					class="fas fa-chalkboard-teacher"></i>
			</h5>
			<hr>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="justify-content-center">

				<div class="form-group row justify-content-center">
					<label class="col-form-label mr-5 contraseña" for="id_rol">Roles
						:</label>
					<div class="col-sm-10">
						<div class="wrap-input100 rs1 validate-input">
							<select name="rol" id="rol" class="form-control">
								<option th:each="r:${roles}" th:value="${r.id_rol}"
									th:text="${r.rol}"></option>
							</select> <span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="form-group row justify-content-center">
					<label class="col-form-label mr-4 contraseña" for="nombre">Nombre:</label>
					<div class="col-sm-10">
						<div class="wrap-input100 rs1 validate-input">
							<input id="nombre" class="form-control" type="text" name="nombre"
								placeholder="Digitar nombre" required="required"> <span
								class="focus-input100"></span>
						</div>
					</div>
				</div>
				<div class="form-group row justify-content-center">
					<label class="col-form-label mr-4 contraseña" for="apellido">Apellido:</label>
					<div class="col-sm-10">
						<div class="wrap-input100 rs1 validate-input">
							<input id="apellido" class="form-control" type="text"
								name="apellido" placeholder="Digitar apellido"
								required="required"> <span class="focus-input100"></span>
						</div>
					</div>
				</div>

				<div class="form-group row justify-content-center">
					<label class="col-form-label mr-4 contraseña" for="usuario">Usuario
						:</label>
					<div class="col-sm-10">
						<div class="wrap-input100 rs1 validate-input">
							<input id="usuario" class="form-control" type="email"
								name="usuario" placeholder="ejemplo@gmail.com"
								required="required"> <span class="focus-input100"></span>
						</div>
					</div>
				</div>

				<div class="form-group row justify-content-center">
					<label class="col-form-label mr-5" for="password">Contraseña:</label>
					<div class="col-sm-10 mr-2">
						<div class="wrap-input100 rs1 validate-input">
							<input id="password" class="form-control" type="password"
								name="password" size="12" placeholder="Digitar contraseña"
								required="required"> <span class="focus-input100"></span>
						</div>
					</div>
				</div>


				<div class="form-group row justify-content-center col-sm-11">

					<div class="input-group validate-input">
						<label class=" col-form-label mb-2" for="clave">Confirmar
							contraseña: </label> <input id="clave" class="form-control"
							type="password" name="clave" size="12"
							placeholder="Repetir contraseña" required="required">
						<button type="button" class="btn btn-primary btn-lg active"
							data-toggle="modal" data-target="#ModalMateria">
							<i class="fas fa-check"></i>
						</button>
						<span class="focus-input100"></span>
					</div>

				</div>


			</div>
			<hr>
			<div>
				<button class="btn btn-info">
					<i class="fas fa-check"></i> Guardar
				</button>
				<a class="btn btn-danger btn-md" href="/usuarios/index"> <i
					class='fas fa-times'></i> Cancelar
				</a>
			</div>
		</form>
	</div>
</body>
</html>
