<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Usuario</title>
</head>
<body th:fragment="content">

	<div class="container text-center p-4">
			<form class="mt-4 text-center border p-4 form validate-form;" action="/usuarios/modificar" method="post">
				<h5 class="contact100-form-title">
					MODIFICAR USUARIO <i style='font-size:30px' class="fas fa-chalkboard-teacher"></i>
				</h5>
				
				<hr>
				
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div>
					<input th:value="${item.id_usuario}" id="id_usuario" class="input100" type="hidden" name="id_usuario">
					<span class="focus-input100"></span>
                </div>
				
				<div class="justify-content-center">
				
						<div class="form-group row justify-content-center">
				<label class="label-input100" for="id_rol">Roles :</label>				
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<select name="rol" id="rol" class="form-control">
						<div th:each="r:${roles}">
                            <option th:if="${r.id_rol==item.rol.id_rol}" selected th:value="${r.id_rol}" th:text="${r.rol}"></option>
                        	<option th:if="${r.id_rol!=item.rol.id_rol}"   th:value="${r.id_rol}" th:text="${r.rol}"></option>
                        </div>
                    </select>
					<span class="focus-input100"></span>
                </div>
                </div>
						</div>
						<div class="form-group row justify-content-center">
				<label class="label-input100" for="nombre">Nombre:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.nombre}" id="nombre" class="form-control" type="text" name="nombre" placeholder="Digitar nombre" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
						</div>
						<div class="form-group row justify-content-center">
				<label class="label-input100" for="apellido">Apellido:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.apellido}" id="apellido" class="form-control" type="text" name="apellido" placeholder="Digitar apellido" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
						</div>
						<div class="form-group row justify-content-center">
				<label class="label-input100" for="usuario">Usuario:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.usuario}" id="usuario" class="form-control" type="email" name="usuario" placeholder="Digitar usuario" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
				<div>
					<input th:value="${item.password}" id="password" class="input100" type="hidden" name="password" placeholder="Digitar contraseña" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
				</div>
				<hr>
				
                    
				<div>		
				<button  class="btn btn-info"><i class="fas fa-check"></i> Guardar</button>
				<a  class="btn btn-danger" href="/usuarios/index"> <i class='fas fa-times'></i> Cancelar</a>
				</div>             						
			</form>
		</div>
</body>
</html>
