<!DOCTYPE html >
<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">
<!--th:include="components/styleA::stylA"-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />

<title>Institucion</title>
</head>
<body th:fragment="content">

	<div class="container ">
		<form class="mt-4 text-center border p-2 form validate-form;"
			action="/instituciones/guardar" method="post">
			<h4 class="contact100-form-title"> AGREGAR INSTITUCIÓN <i style='font-size:38px' class="fas fa-home"></i></h4>
			<hr>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="justify-content-center">
				<div class="form-group row justify-content-center">	
				<!-- label class="col-sm-1 col-form-label mb-2" for="id_usuario" >Usuario:</label-->
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
							
				
				<!-- MANDAR A LLAMAR EL VALOR -->
				 <input class="form-control" type=text th:each="u:${usuarios}" th:value="${u.nombre}" readonly="readonly" hidden>
				
				
				 <select name="usuario" id="usuario" class="form-control" hidden>
						<option th:each="u:${usuarios}" th:value="${u.id_usuario}"
							th:text="${u.nombre}"></option>
					</select> <span class="focus-input100"></span>
					
					
				</div>
				</div>
				</div>
				<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="nombre">Nombre:</label>
					<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input id="nombre" class="form-control" type="text" name="nombre"
						placeholder="Digitar nombre" required="required"> <span class="focus-input100"></span>
				</div>
				</div>
				</div>
				<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="direccion">Dirección:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<textarea id="direccion" class="form-control" type="text" name="direccion"
						placeholder="Digitar dirección" rows="2" cols="50"></textarea> <span
						class="focus-input100"></span>
				</div>
				</div>
				</div>
				<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="telefono">Teléfono:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input id="telefono" class="form-control" type="text" name="telefono"
						placeholder="Digitar teléfono"> <span
						class="focus-input100"></span>
				</div>
				</div>
				</div>
				<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="email">Correo:</label>
					<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input id="email" class="form-control" type="email" name="email"
						placeholder="Digitar correo eléctronico" required="required"> <span
						class="focus-input100"></span>
				</div>
				</div>
				</div>
				<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="codigo">Código:</label>
					<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input id="codigo" class="form-control" type="text" name="codigo"
						placeholder="Digitar código de la institución"> <span
						class="focus-input100"></span>
				</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="mt-4">
				<button class="btn btn-info"> <i class="fas fa-check"></i> Guardar</button>
				<a class="btn btn-danger btn-md" href="/instituciones/index"> <i class='fas fa-times  color:body' ></i>  Cancelar</a>
			</div>

		</form>
	</div>
</body>
</html>