<!DOCTYPE html >
	<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
   
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Institucion</title>
</head>
<body th:fragment="content">

	<div class="container">
			<form class="mt-4 text-center border p-4 form validate-form;" action="/instituciones/modificar" method="post">
				<h4 class="contact100-form-title">
					MODIFICAR INSTITUCIÓN <i style='font-size:38px' class="fas fa-home"></i>
				</h4>
				<hr>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
				<div>
					<input th:value="${item.id_institucion}" id="id_institucion" class="form-control" type="hidden" name="id_institucion">
					<span class="focus-input100"></span>
                </div>
				
				<div class="justify-content-center">
				
					<div class="form-group row justify-content-center">
				<label class="label-input100" for="id_usuario">Usuario:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<select name="usuario" id="usuario" class="form-control">
						<div th:each="u:${usuarios}">
                            <option th:if="${u.id_usuario==item.usuario.id_usuario}" selected th:value="${u.id_usuario}" th:text="${u.nombre}"></option>
                        	<option th:if="${u.id_usuario!=item.usuario.id_usuario}"   th:value="${u.id_usuario}" th:text="${u.nombre}"></option>
                        </div>
                    </select>
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">
				<label class="col-sm-1 col-form-label mb-2" for="nombre">Nombre:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.nombre}" id="nombre" class="form-control" type="text" name="nombre" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">
				<label class="col-sm-1 col-form-label mb-2" for="direccion">Dirección:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<textarea th:field="${item.direccion}" id="direccion" class="form-control" type="text" name="direccion" required="required"></textarea>
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">
				<label class="col-sm-1 col-form-label mb-2" for="telefono">Teléfono:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.telefono}" id="telefono" class="form-control" type="text" name="telefono">
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">
				<label class="col-sm-1 col-form-label mb-2" for="email">Correo:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.email}" id="email" class="form-control" type="email" name="email" required="required">
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">
				<label class="col-sm-1 col-form-label mb-2" for="codigo">Código:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input th:value="${item.codigo}" id="codigo" class="form-control" type="text" name="codigo">
					<span class="focus-input100"></span>
                </div>
                </div>
                </div>
				</div>
                 <hr>
                 <div>        
				<button  class="btn btn-info"> <i class="fas fa-check"></i> Guardar</button>
		
				<a  class="btn btn-danger btn-md" href="/instituciones/index"> <i class='fas fa-times  color:body' ></i> Cancelar</a>
				</div>		
			</form>
		</div>
</body>
</html>