<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">

	<!-- DataTables Example -->
	<div th:fragment="content">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i> Tabla de Datos/ General <br>

				<div class="form-inline">
				<!--  Materia -->
				<label>Materia:</label> <select class="form-control col-sm-2  mb-2 mr-2 ml-2" name="materia" id="dataMateria" required>
					<div th:each="m:${materias}">
						<option selected th:value="${m.nombre}" th:text="${m.nombre}"></option>
					</div>
				</select>

				<!--  Grupo -->
				<label>Grupo:</label> <select class="form-control col-sm-2 mb-2 ml-2 mr-2" name="grupo" id="dataGrupo" required>
					<div th:each="g:${grupos}">
						<option selected th:value="${g.grupo}" th:text="${g.grupo}"></option>
					</div>
				</select>
				
				
				<!-- Actividad -->
				<label ml-2>     Actividad:</label> <select class="form-control col-sm-2 mb-2 ml-2  mr-2" name="actividad" id="dataActividad" required>
					<div th:each="a:${actividades}">
						<option selected th:value="${a.actividad}" th:text="${a.actividad}"></option>
					</div>
				</select>
				
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-striped table-bordered"
							id="dataTableGeneral">
							<thead style="background-color: #03729B">
								<tr id="color1">
									<th>Estudiante</th>
									<th>Actividades</th>
									<th>Nota Promedio</th>
								</tr>
							</thead>

							<tbody id="tdatosConsul">

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- enlaces de javascript -->
	<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!--Script for dataTable-->
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script
		src=" http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
	<script th:src="@{/jsAjax/general.js}"></script>
	</div>
</body>
</html>