<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">
<head>
</head>
<body>

	<!-- DataTables Example -->
	<div th:fragment="content">
		<div class="card mb-3">
			<div class="card-header"><i class="fas fa-fw fa-book-open"></i>
			Tabla de Datos/ Materias <a class="btn btn-info" th:href="@{/materias/guardar}" role="button" id="nuevo"> <i style='font-size:20px' class='fas'>&#xf067;</i> Nuevo</a>
			</div>
			<div class="card-body" style="">
			
				<div class="table-responsive">
						<table class="table table-hover table-striped table-bordered" id="dataTable">						
						<thead class="text-center" style="background-color: #03729B">
							<tr id="color1">
								<th>Id</th>
								<th>Nombre</th>
								<th>Descripcion</th>
								<th>Especialidad</th>
								<th style="width:190px">Opciones</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:each="i:${items}">
								<td th:text=${i.id_materia}></td>
								<td th:text=${i.nombre}></td>
								<td th:text=${i.descripcion}></td>
								<td th:text=${i.especialidad}></td>
								<td><a name="modificar" id="modificar" class="btn btn-primary mt-1 col-ml-5" th:href="@{'/materias/modificar/' + ${i.id_materia}}" role="button"><i class='fa fa-pen fa-fw mr-2'></i> Editar</a>
								    <a name="eliminar" id="eliminar" class="btn btn-danger mt-1 col-ml-5" th:href="@{'/materias/eliminar/' + ${i.id_materia}}" role="button"> <i class='fa fa-trash-alt fa-1x mr-1'></i> Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>