<!DOCTYPE html>
<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">
      <!--th:include="layouts/layout::plantilla"-->
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width"/>

    <title>Grupo</title>
</head>
<body th:fragment="content">

	<div class="container text-center  p-5">
			<form class="mt-4 text-center border p-5 form validate-form;" action="/grupos/guardar" method="post">
				<h4 class="contact100-form-title">
					AGREGAR GRUPO <i style='font-size:34px'class="fas fa-fw fa-users"></i>
				</h4>
				<hr>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
				<div class="justify-content-center">
				
					<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="id_materia"> Materia:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<select name="materia" id="materia" class="form-control">
                            <option th:each="m:${materias}" th:value="${m.id_materia}" th:text="${m.nombre}"></option>
                        </select>
					<span class="focus-input100"></span>
                </div>
                </div>
					</div>
					<div class="form-group row justify-content-center">	
				<label class="col-sm-1 col-form-label mb-2" for="grupo">Nombre:</label>
				<div class="col-sm-11">
				<div class="wrap-input100 rs1 validate-input">
					<input id="grupo" class="form-control" type="text" name="grupo" placeholder="Digitar grupo" required="required">
					<span class="focus-input100"></span>
				</div>
				</div>
				</div>
				</div>
				<hr> 
                <div>        	
				<button  class="btn btn-info"> <i class="fas fa-check"></i> Guardar</button>
				<a  class="btn btn-danger btn-md" href="/grupos/index"> <i class='fas fa-times'></i> Cancelar</a>
				</div>	
							
			</form>
		</div>
</html>