<!DOCTYPE html>
<!-- implementacion de la plantilla -->
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layout::plantilla">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />

<title>Grupo-Estudiante</title>
</head>
<body th:fragment="content">

	<div class="container text-center p-5">
		<form class="mt-4 text-center border p-5 form validate-form;"
			action="/grupoestudiantes/guardar" method="post">
			<h4 class="contact100-form-title">  AGREGAR GRUPO DE ESTUDIANTES <i style='font-size:20px' class='fas'>&#xf067;</i> <i style='font-size:34px' class="fas fa-fw fa-users"></i> </h4>
			<hr>
			<!--Token para dar permisos de spring segurity-->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="justify-content-center">
				<!--  Grupo -->
				<div class="form-group row justify-content-center">
					<label class="col-sm-1 col-form-label mb-2" for="id_grupo">Grupo:</label>
					<div class="col-sm-11">
					<div class="wrap-input100 rs1 validate-input">
						<select name="grupo" id="grupo" class="form-control" required>
							<option th:each="g:${grupos}" th:value="${g.id_grupo}"
								th:text="${g.materia.nombre}+' : '+${g.grupo}"></option>
						</select> <span class="focus-input100"></span>
					</div>
				</div>
				</div>
				<!-- Estudante -->
				<div class="form-group row justify-content-center">
					<label class="label-input100 mt-2" for="id_estudiante"> Estudiantes :</label>
					<div class="col-sm-10">
					<div class="input-group validate-input">
						<input type="hidden" class="form-control col-sm-12" name="id_estudiante" id="CampoidEstu"> 
						<input type="text" class="form-control col-sm-12" id="CampoEstudiante" readonly="readonly" required="required">
						<div class="input-group-append">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#ModalEstudiantes">agregar</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			<hr>
			<div class="">
				<button class="btn btn-info"> <i class="fas fa-check"></i> Guardar</button>

				<a class="btn btn-danger btn-md" href="/grupoestudiantes/index"> <i class='fas fa-times  color:body'></i> Cancelar</a>
			</div>

		</form>
	</div>
	
		<!--  Modal Para seleccionar materia-->
	<!-- The Modal -->
	<div class="modal fade" id="ModalEstudiantes">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Listado de estudiantes</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<table class="table table-bordered table-hover tabla-responsive" id="TDataEstudiante">
						<thead style="background-color: #03729B">
							<tr id="color1">
								<th>Id</th>
								<th>Nombre</th>
								<th>Estudintes</th>
								<th>Institucion</th>
								<th>Opcion</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>
	
	<!-- enlaces de javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src=" http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
</html>